.button{
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid gray;
  background-color: coral;
  font-size: 12px;
  transition: background-color .3s ease;
}
.button:hover{
  background-color: rgb(255, 89, 29);
}